<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cards Game</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body, html { font-family: 'Montserrat', sans-serif; }
    </style>
</head>
<body class="min-h-screen bg-gradient-to-br from-[#67A07D] to-[#a0f2c0] text-[#F4F0EA] relative">

<div class="max-w-2xl mx-auto mt-12 mb-8 bg-[#FFFFF0] rounded-2xl shadow-xl p-8">
    <a href="../../web/template/homepage.html" class="text-[#000000]  font-bold hover:underline text-sm mb-6 inline-block">← Go Back</a>
    <div class="project-header text-center mb-6">
        <h1 class="text-2xl text-[#67A07D] sm:text-3xl font-bold mb-4">Adventure_hero</h1>
        <p class="text-[#000000] text-lg mb-4">An immersive game where you need to survive a failed experiment</p>
        <div class="flex justify-center gap-4">
            <a href="https://github.com/xLuuxx/adventure_hero" target="_blank">
                <img src="../static/images/github.png" alt="GitHub" class="w-8 h-8 rounded hover:scale-110 transition">
            </a>
        </div>
    </div>

    <div class="project-details flex flex-col gap-6 mt-10">
        <div class="detail-card bg-[#bg-[#4F3B2C]/70 rounded-xl p-6 shadow">
            <h2 class="text-xl font-bold text-[#67A07D] mb-2">Description</h2>
            <p class="text-[#000000]">My first Python program. The goal is to survive during 30 days while gathering supplies and working with surprises.</p>
        </div>

        <div class="detail-card bg-[#bg-[#4F3B2C]/70 rounded-xl p-6 shadow">
            <h2 class="text-xl font-bold text-[#67A07D] mb-2">Technologies</h2>
            <p class="text-[#000000]">• Python</p>
        </div>

        <div class="detail-card bg-[#bg-[#4F3B2C]/70 rounded-xl p-6 shadow">
            <h2 class="text-xl font-bold text-[#67A07D] mb-2">Characteristics</h2>
            <p class="text-[#000000]">• Basic GLI<br>• Run in terminal</p>
        </div>
    </div>
</div>
</body>
</html>
