<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/cards.css">
    <title>Cards</title>
</head>
<body>
<a href="../../web/template/homepage.html" class="back-btn">← Go Back</a>

<div class="project-container">
    <div class="project-header">
        <h1>Cards Game</h1>
        <p>An immersive cards game where you compete against a computer. Will you win ?</p>
        <div class="links-container">
            <a href="https://github.com/xLuuxx/cards-java" target="_blank">
                <img src="../static/images/github.png" alt="GitHub">
            </a>
        </div>
    </div>

    <div class="project-details">
        <div class="detail-card">
            <h2>Description</h2>
            <p>My first JAVA program. The goal is to win against a computer, first one to get 7 points win !</p>
        </div>

        <div class="detail-card">
            <h2>Technologies</h2>
            <p>• JAVA</p>
        </div>

        <div class="detail-card">
            <h2>Characteristics</h2>
            <p>• Basic GUI<br>
                • Run in terminal <br></p>
        </div>
    </div>
</div>
</body>
</html>