<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/groupieTracker.css">
    <title>Groupie Tracker</title>
</head>
<body>
<a href="../../web/template/homepage.html" class="back-btn">← Go Back</a>

<div class="project-container">
    <div class="project-header">
        <h1>Groupie Tracker</h1>
        <p>An immersive website where we can find all the group info we love at anytime.</p>
        <div class="links-container">
            <a href="https://github.com/xLuuxx/Groupie-Tracker" target="_blank">
                <img src="../static/images/github.png" alt="GitHub">
            </a>
            <a href="https://groupie-tracker.devbyluu.me" target="_blank">
                <img src="../static/images/click.png" alt="Live Demo">
            </a>
        </div>
    </div>

    <div class="project-details">
        <div class="detail-card">
            <h2>Description</h2>
            <p>My first program where I needed to use API. You need info on a group? I've got everything you need.</p>
        </div>

        <div class="detail-card">
            <h2>Technologies</h2>
            <p>• HTML, CSS<br>
                • API<br> </p>
        </div>

        <div class="detail-card">
            <h2>Characteristics</h2>
            <p>• Interactive website<br>
                • API usage <br></p>
        </div>
    </div>
</div>
</body>
</html>