<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/homepage.css">
    <title>Luu</title>
</head>
<body>
<div class="background">
    <div class="main">
        <div class="profile-section">
            <img src="../static/images/tapi.png" alt="tapi">
            <div class="text-container">
                <h1>Luu</h1>
                <p>Student in IT</p>
            </div>
        </div>
        <div class="socials-container">
            <a href="https://linktr.ee/x_luu__" target="_blank">
                <img src="../static/images/Linktree.png" alt="linktree">
            </a>
            <a href="https://github.com/xLuuxx" target="_blank">
                <img src="../static/images/github.png" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/laurine-camuset-431676289/" target="_blank">
                <img src="../static/images/linkedin.png" alt="linkedin">
            </a>
        </div>
    </div>

    <div class="projects-container">
        <div class="Projet-1">
            <a href="../../web/template/hangman.html" class="see-more-btn">See more</a>
            <div class="Project-1-status">
                <p>Hangman Classic,</p>
                <p>The famous game where you have to find a word in 10 tries.
                    Project made in Golang.</p>
                <div class="socials-container-project-1">
                    <a href="https://github.com/xLuuxx/Hangman-Classic.git" target="_blank">
                        <img src="../static/images/github.png" alt="github">
                    </a>
                    <div class="team-container">
                        <img src="../static/images/team.png" alt="team">
                        <p>Team Project</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="Projet-2">
            <a href="../../web/template/groupieTracker.html" class="see-more-btn">See more</a>
            <div class="Project-2-status">
                <p>Groupie Tracker,</p>
                <p>Be a groupie for your favorite group at any time!<br>
                    Project made in HTML, CSS and Golang.</p>
                <div class="socials-container-project-2">
                    <a href="https://github.com/xLuuxx/Groupie-Tracker.git" target="_blank">
                        <img src="../static/images/github.png" alt="github">
                    </a>
                    <a href="https://groupie-tracker.luu.lucas-astley.live/" target="_blank">
                        <img src="../static/images/click.png" alt="github">
                    </a>
                    <div class="team-container">
                        <img src="../static/images/team.png" alt="team">
                        <p>Team Project</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="Projet-3">
            <a href="../../web/template/jacquesLeFendeur.html" class="see-more-btn">See more</a>
            <div class="Project-3-status">
                <p>L'affaire Jacques le Fendeur,</p>
                <p>Will you resolve the mystery case? <br>  
                    Project made in HTML, CSS and JS.</p>
                <div class="socials-container-project-3">
                    <a href="https://github.com/xLuuxx/escape-game" target="_blank">
                        <img src="../static/images/github.png" alt="github">
                    </a>
                    <a href="https://escapegame.atmosphere.ovh/escape-game/" target="_blank">
                        <img src="../static/images/click.png" alt="github">
                    </a>
                    <div class="team-container">
                        <img src="../static/images/team.png" alt="team">
                        <p>Team Project</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="Projet-4">
            <a href="../../web/template/cards.html" class="see-more-btn">See more</a>
            <div class="Project-4-status">
                <p>Cards,</p>
                <p>Want to play some cards game ? <br>
                    Project made in JAVA.</p>
                <div class="socials-container-project-4">
                    <a href="https://github.com/xLuuxx/cards-java" target="_blank">
                        <img src="../static/images/github.png" alt="github">
                    </a>
                    <div class="team-container">
                        <img src="../static/images/solo.png" alt="team">
                        <p>Solo Project</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>