<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portfolio Luu</title>
    <link href="../static/css/tailwind.generated.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <style>
        body, html { font-family: 'Montserrat', sans-serif; }
    </style>
</head>
<body class="min-h-screen bg-gradient-to-br from-[#67A07D] to-[#a0f2c0] text-[#F4F0EA] relative">

<!-- Header and Profile -->
<div class="max-w-2xl mx-auto text-center py-20">
    <img src="../static/images/profile.jpg" class="w-48 h-48 mx-auto rounded-full shadow-xl border-8 border-[#000000]" alt="Luu" />
    <h1 class="font-extrabold text-4xl text-[#000000] mt-8 mb-4">Luu</h1>

    <h2 class="text-xl text-[#000000] mb-6">Your favorite IT student, streamer, unconfident author & lucky charm !</h2>
    <div class="flex flex-col items-center gap-4 mb-6">
        <div class="flex justify-center gap-4 w-full">
            <a href="https://linktr.ee/x_luu__" target="_blank" aria-label="Linktree" class="p-2 border border-[#000000] rounded hover:bg-[#67A07D] transition">
                <img src="../static/images/Linktree.png" alt="Linktree" class="w-8 h-8 rounded" />
            </a>
            <a href="https://github.com/xLuuxx" target="_blank" aria-label="GitHub" class="p-2 border border-[#000000] rounded hover:bg-[#67A07D] transition">
                <img src="../static/images/github.png" alt="GitHub" class="w-8 h-8 rounded" />
            </a>
            <a href="https://www.linkedin.com/in/laurine-camuset-431676289/" target="_blank" aria-label="LinkedIn" class="p-2 border border-[#000000] rounded hover:bg-[#67A07D] transition">
                <img src="../static/images/linkedin.png" alt="LinkedIn" class="w-8 h-8 rounded" />
            </a>
        </div>
        <a href="../static/images/cv_laurine_camuset_portfolio.jpg" download class="px-6 py-2 rounded bg-[#67A07D] text-black font-semibold hover:bg-[#5B8F6D] transition mt-4">
            Télécharger mon CV
        </a>
    </div>
</div>


<section id="projects-grid" class="max-w-6xl mx-auto px-4 py-8 grid gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
</section>

<script src="../javascript/homepage.js"></script>
</body>
</html>
