<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/jacquesLeFendeur.css">
    <title>Jacques le Fendeur</title>
</head>
<body>
<a href="../../web/template/homepage.html" class="back-btn">← Go Back</a>

<div class="project-container">
    <div class="project-header">
        <h1>Jacques the Fendeur case</h1>
        <p>An immersive escape game where you get absorbed in a dark detective case.</p>
        <div class="links-container">
            <a href="https://github.com/xLuuxx/escape-game" target="_blank">
                <img src="../static/images/github.png" alt="GitHub">
            </a>
            <a href="https://escapegame.atmosphere.ovh/escape-game/" target="_blank">
                <img src="../static/images/click.png" alt="Live Demo">
            </a>
        </div>
    </div>

    <div class="project-details">
        <div class="detail-card">
            <h2>Description</h2>
            <p>My first JS program : an escape game based on detective cases where your colleague went missing. Will you find out what really happened?</p>
        </div>

        <div class="detail-card">
            <h2>Technologies</h2>
            <p>• HTML, CSS, JavaScript<br>
                • localStorage<br>
                • Original code contained json server and json for the leaderboard.</p>
        </div>

        <div class="detail-card">
            <h2>Characteristics</h2>
            <p>• Interactive enigmas<br>
                • Progress save <br>
                • Multiple kind of enigmas</p>
        </div>
    </div>
</div>
</body>
</html>